@model AstraDMLDemo.Models.RepositoryDefinition

@{
    ViewData["Title"] = "RepositoryDefinitionDetail";
}

@{ 
    if (ViewBag.Available != null && !ViewBag.Available)
    {
        <h2>The connection is not available!</h2>
    }
}

<div>
    <h4>RepositoryDefinition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterfaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterfaceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatabaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatabaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keyspace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keyspace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordSecret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordSecret).ToString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>
